<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <title>2020 Rays Sim</title>

    <!-- Required Stylesheets -->
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"
    />

        <link rel="stylesheet" href="style.css">

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue@latest/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

  </head>
  <body>
        <header class="container">
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://raw.githubusercontent.com/double-dose-larry/2020_rays_sim/master/rnsdeg.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
            <div class="logo-container">
                <img src="https://content.sportslogos.net/logos/53/2535/full/qiru2jftx1a378eq8ad0s4ik4.gif" alt="">
            <h1 class="display-3"> 
                <a href="https://www.youtube.com/channel/UCSwicur-zd57UFxhLWMdDMg/videos" style="text-decoration: none; color:whitesmoke;">2020 Rays Sim Standings</a></h1>
            </div>
        </div>
        </div>
    </div>
    </header
    <!-- Our application root element -->
    <div id="app">
      <b-container>
        <b-card 
          class="mx-auto my-5 col-9 ">
          <b-card-text>
            <b-card-header>Last Rays Game - {{lastGame.date}}</b-card-header>
            <table class="table text-center" style="display:inline-table; width:80%; margin-left: 20px">
            <tr>
              <td class="team-name">
              <img class="p-logo" :src="lastGame.awayLogoUrl">
                  {{ lastGame.awayTeam }} </td>
              <td class="font-weight-bold">{{ lastGame.awayScore }} </td>
            </tr>
            <tr>
              <td class="team-name">
              <img class="p-logo" :src="lastGame.homeLogoUrl">
                  {{ lastGame.homeTeam }} </td>
              <td class="font-weight-bold">{{ lastGame.homeScore }} </td>
            </tr>
            </table>
            <span style="display:inline;">
                F {{ lastGame.innings }}
            </span>
            <br>
            <a :href="lastGame.highlightUrl" class="card-link">Highlights</a>
            <a :href="lastGame.fullGameUrl" class="card-link">Full Game</a>
          </b-card-text>
        </b-card>


        <b-tabs content-class="mt-4">
          <b-tab title="Standings" active>
            <b-table 
              class="text-center"
              v-for="division in divisions" :items="items.filter(div => div.division == division)"
              :fields="fields"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              sort-icon-right
            >
              <template v-slot:head(team)="data">{{ division }}</template>
              <template v-slot:cell(team)="data">
               <img class="p-logo" :src="data.item.logoUrl">
                </span>{{ data.item.team }}
              </template>

            </b-table>
          </b-tab>
          <b-tab title="Schedule and Results">
            <b-form-select v-model="filterMonth" size="md" class="w-25">
              <option :value="3">March</option>
              <option :value="4">April</option>
              <option :value="5">May</option>
              <option :value="6">June</option>
              <option :value="7">July</option>
              <option :value="8">August</option>
              <option :value="9">September</option>
            </b-form-select>
           <b-container class="mx-0 text-center">
            <b-card
              v-for="game in allSched.filter(x=>x.date[0] == filterMonth)"
              class="m-2 p-0 col-xs-12"
              style="display:inline-table; min-width: 300px;">
              <b-card-header>
                {{ game.date }}
              </b-card-header>
              <b-card-text>
                <table class=table>
                  <tr>
                    <td class="text-left">
                      <img class="p-logo" :src="game.awayLogoUrl">
                      {{ game.awayTeam }}</td>
                    <td>{{ game.awayScore }}</td>
                  </tr>
                  <tr>
                    <td class="text-left">
                      <img class="p-logo" :src="game.homeLogoUrl">
                      {{ game.homeTeam }}</td>
                    <td> {{ game.homeScore }}</td>
                  </tr>
                </table>
                <a v-if="game.highlightUrl" :href="game.highlightUrl" class="card-link">Highlights</a>
                <a v-if="game.fullGameUrl" :href="game.fullGameUrl" class="card-link">Full Game</a>
              </b-card-text>
            </b-card>
            </b-container>
          </b-tab>
          <b-tab title="Stats" disabled>
          <b-container class="py-5 my-5">
            coming soon
          </b-container>
          </b-tab>
        </b-tabs>
      </b-container>
    </div>

    <!-- Start running your app -->
    <script>
      window.app = new Vue({
        el: '#app',
        data: {
          divisions: [
            "AL East",
            "AL Central",
            "AL West",
            "NL East",
            "NL Central",
            "NL West"
          ],
          fields: [
            {key: "team", class: "text-left col-3"},
            "wins",
            "losses",
            "pct",
            "gamesBack",
            "runs",
            "runsAllowed",
            "diff"
          ],
          sortBy: "pct",
          sortDesc: true,
          filterMonth: '4',
          items: [],
          distinctTeams: [],
          allSched: [],
          lastGame: {date:'loading...'}
        },
        async mounted(){
          const sheet_id = "1luuOd521eQkswAEal2J8qZGfzeVepo4mvT632CydpNE"
      
          let response = await fetch(`https://sheets.googleapis.com/v4/spreadsheets/${sheet_id}/values/standings!A2:M31?key=AIzaSyAX3YA2GKJtQLHg7BQ3j7pbtfjjqqq4140`)
          let data = await response.json()
          let objs = data.values.map(x => {
              return {
                  division: x[0],
                  team: x[1],
                  wins: x[2],
                  losses: x[3],
                  pct: x[4],
                  gamesBack: x[5],
                  runs: x[6],
                  runsAllowed: x[7],
                  diff: x[8],
                  pyth_pct: x[9],
                  expectedWins: x[10],
                  expectedLosses: x[11],
                  logoUrl: x[12]
              }
          })
          this.items = objs
          this.distinctTeams = objs.map(x => x.team);
          //get last Rays game
          let scheduleRes = await fetch(`https://sheets.googleapis.com/v4/spreadsheets/${sheet_id}/values/schedule!A2:L2432?key=AIzaSyAX3YA2GKJtQLHg7BQ3j7pbtfjjqqq4140`)
          let scheduleData = await scheduleRes.json()
          let schedObjs = scheduleData.values.map(x => {
             return {
              date: x[0],
              homeTeam: x[1],
              awayTeam: x[2],
              homeScore: x[3],
              awayScore: x[4],
              innings: x[7],
              highlightUrl: x[8],
              fullGameUrl: x[9],
              homeLogoUrl: x[10],
              awayLogoUrl: x[11]
             }
          });
          this.allSched = schedObjs.filter( x => x.homeTeam == 'Tampa Bay Rays' || x.awayTeam == 'Tampa Bay Rays');
          let lastGame = schedObjs.reduce((lastGame, currentGame) => {
                  if (currentGame.highlightUrl || currentGame.fullGameUrl)  {
                      if (new Date(currentGame.date) > new Date(lastGame.date)){
                          return currentGame;
                      } else {
                          return lastGame;
                      }
                  } else {
                      return lastGame;
                  }
              }, {date: '1/1/1900'})
          this.lastGame = lastGame;
      }
    });
    </script>
  </body>
</html>