header {
  position: relative;
  background-color: black;
  height: 50vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  font-family: Roboto, Arial, sans-serif;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://i.imgur.com/IhTklEJ.png') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}

.logo-container {
  width: 100%;
  float: left;
}

.logo-container img {
  width: 10%;
  height: auto; 
}


.p-logo--sm {
	height: 2rem;
	width: 2rem;
}

.p-logo {
	height: 2rem;
	width: 2rem;
  vertical-align: center;
  margin-right: 10px;
}

.col {
  text-align: left;
}

.team-name {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}
