.banner {
    height: 300px;
    width: 100%;
    background-color: #8FBCE6;
    margin-bottom: 50px;
    background-image: url(https://content.sportslogos.net/logos/53/2535/full/9448_tampa_bay_rays-primary-2019.png);
    background-size: cover;
    /* opacity: 0.3; */
}

.banner h1 {
    opacity: 1;
    font: 100;
    font-size: 40;
    color: black;
    margin: auto;
    text-align: center;
}